<section id="section-aboutus">
  <section class="content" id="running">
    <h2>RUNNINGHOUR</h2>
    <hr>
    <div class="subcontent">
      <img src="resources/img/about_us/chinese_garden.jpg" alt="Running Hour Members" style="width:100%">
      <h3>Runninghour Co-operative Limited - 合作社</h3>
      <p>Runninghour is a sports co-operative that promotes integration of persons with special needs through running. We have members who are mildly intellectually challenged, physically challenged and visually challenged joining us to keep fit. We welcome anyone passionate about running to join us as running guides.</p>
      <p>1. Runninghour is a co-operative which is a structure social enterprise and not a charity.</p>
      <p>2. Runninghour's social mission is integrating people with special needs via mainstream running.</p>
      <p>3. Runninghour's business is event management and conducting disability awareness workshops and activities.</p>
      <p>4. Runninghour do not issue dividends to members and all revenues are used to fund operation and programmes to support our social mission.</p>
      <p>5. Runninghour currently has a full-time staff and a volunteer management commitee.</p>
      <p>6. Runninghour's account is audited externally and submitted to Registrar of Co-operative and Singapore National Co-operative Federation yearly.</p>
    </div>
    <div class="subcontent">
      <img src="resources/img/about_us/celebration_run.jpg" alt="Running Hour Members" style="width: 100%">
      <div style="text-align: center;">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/MZxdn-Tm0k0" frameborder="0" allowfullscreen style="max-width: 600px;"></iframe>
      </div>
      <h3>Management Committee 2019</h3>
      <div class="table-responsive">
        <table class="table" style="width: 100%">
          <tr>
            <td style="width: 250px">Chairman</td>
            <td>: John See Toh</td>
          </tr>
          <tr>
            <td>Vice-Chairman</td>
            <td>: *Chris-Hortin Tan (Events)</td>
          </tr>
          <tr>
            <td>Secretary</td>
            <td>: Bruce Schulberg</td>
          </tr>
          <tr>
            <td>Treasurer</td>
            <td>: Josephine Pang</td>
          </tr>
          <tr>
            <td>Business Development</td>
            <td>: *Chris Hortin & John See Toh</td>
          </tr>
          <tr>
            <td>Event</td>
            <td>: *Patricia Poo, *Marc Chiang & *Edwin Tan</td>
          </tr>
          <tr>
            <td>Membership</td>
            <td>: Michael Jalleh, Jeremy Koh & Shona George</td>
          </tr>
          <tr>
            <td>Training</td>
            <td>: Huijuan Cher</td>
          </tr>
          <tr>
            <td>Publicity & Communications</td>
            <td>: Liz Koh & Bruce Schulberg </td>
          </tr>
        </table>
      </div>
      <h3>Training Team 2019</h3>
      <div class="table-responsive">
        <table class="table" style="width: 100%">
          <tr>
            <td style="width: 250px">Lead Trainer</td>
            <td>: Arthur Tong</td>
          </tr>
          <tr>
            <td>Assistant Trainer</td>
            <td>: Giles Jacobson</td>
          </tr>
        </table>
      </div>
      <p class="mores">(* Visually Challenged Runner)</p>
    </div>
    <section layout="row" layout-align="center center">
      <div uib-carousel active="aboutCarousel" interval="5000" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in vm.aboutCarousel track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" class="slide" alt="{{slide.label}}">
          <div class="carousel-caption">
            <p class="caption"><span class="caption-box">{{slide.caption}}</span></p>
          </div>
        </div>
      </div>
    </section>
    <div class="subcontent">
      <h3>Vision</h3>
      <p>Promoting well-being & integration of people with special needs </p>
    </div>
    <div class="subcontent">
      <h3>Mission</h3>
      <p>To be a world class model of integrating people with special needs through sports</p>
    </div>
    <div class="subcontent">
      <h3>Values</h3>
      <p>Self-reliance, Collaboration, Inclusive, Advocacy & Respect </p>
    </div>
    <div class="subcontent">
      <h3>Motto</h3>
      <p>"RUN TO BOND, RUN SO OTHERS CAN!"</p>
    </div>
    <div class="subcontent">
      <h3>Background of How Runninghour was Formed</h3>
      <p>Runninghour has been supported by Central Singapore Community Development Council (CDC) as a Healthy Lifestyle Club (HLC).</p>
      <p>The inclusive running club was formed on 18th of April 2009 by a group of fitness enthusiasts. They act as buddy runners to special needs members who are mildly intellectually challenged every Saturday morning. The members are mainly students and ex-students with APSN. On 9th June 2012, a group of visually challenged runners joined Runninghour.</p>
    </div>
    <div class="subcontent">
      <h3>Awards </h3>
      <p>APSN (Association for persons with special needs) Bronze Award for Excellent Service 13 October 2012</p>
      <p>President's Award for Volunteerism (Informal Group) 15 October 2014 </p>
    </div>
  </section>
  <section class="content" id="join-us-for-observation-run">
    <h2>Join Us For Observation Run</h2>
    <hr>
    <p>Runninghour caters to a core group of special needs runners. We hope to attract committed guides who has a passion to run and do good. As a registered Co-operative, we are required to register our members (guides & special needs) by encouraging you to sign up as a Co-op member to support our cause and mission.</p>
    <p>Observation Run Form (Interested Guides / Caregivers / People With Special Needs (PWSN), please fill in the form below before going for run, contact Anna @ 90505398 for the date attending observation run)</p>
    <p>Access form <a href="https://goo.gl/Dz8bsw" target="_blank"> here </a></p>
  </section>
  <section class="content" id="service">
    <h2>SERVICES </h2>
    <hr>
    <p>Runninghour Co-operative Limited is providing the following services to promote our social mission:</p>
    <ol>
      <li>Conduct integration workshops for institutions and corporates</li>
      <li>Organise inclusive sports events for schools</li>
      <li>Organise national race</li>
      <li>Provide fitness instructor for visually challenged students in secondary schools</li>
      <li>Please email <a href="mailto:admin@runninghour.com" style="font-weight: bold">admin@runninghour.com</a> if you would like to collaborate with Runninghour to work on opportunities in promoting integration in your organisation</li>
    </ol>
  </section>
  <section class="content" id="contact">
    <h2>CONTACT </h2>
    <hr>
    <p>Newcomers who wish to sign up for observation runs, please email us your name & contact number to <a href="mailto:admin@runninghour.com">admin@runninghour.com</a>. There will be an induction workshop for new guides on the last Saturday of the month.</p>
    <p>Programme Manager: Zohra</p>
    <p>Office no: +65-90505398</p>
    <p>Email: <a href="mailto:admin@runninghour.com">admin@runninghour.com</a></p>
    <p>Race enquiries: <a href="mailto:raceinfo@runninghour.com">raceinfo@runninghour.com</a></p>
  </section>
  <section class="content" id="partner">
    <h2>PARTNERS </h2>
    <hr>
    <p>Runninghour would like to acknowledge our partners that have been supporting Runninghour over the years. Individuals or corporates who wish to sponsor Runninghour in our upcoming Run For Inclusion 2020, please email to: <a href="mailto:raceinfo@runninghour.com">raceinfo@runninghour.com</a></p>
    <!-- <div layout="row" layout-xs="column" layout-align="center center" layout-wrap style="text-align: center;">
      <div flex-gt-sm="33" flex-sm="33" flex-xs="100">
        <img src="resources/img/about_us/savh.png" alt="SAVH" style="width: 80%">
      </div>
      <div flex-gt-sm="33" flex-sm="33" flex-xs="100">
        <img src="resources/img/about_us/sncf.png" alt="SNCF" style="width: 80%">
      </div>
      <div flex-gt-sm="33" flex-sm="33" flex-xs="100">
        <img src="resources/img/about_us/apsn.png" alt="APSN" style="width: 80%">
      </div>
    </div> -->
    <div layout="row" layout-xs="column" layout-align="center center" layout-wrap style="text-align: center;">
      <div flex-gt-sm="25" flex-sm="25" flex-xs="100">
        <img src="resources/img/sponsor/centralsingaporecdc.png" alt="Central Singapore CDC" style="width: 80%">
      </div>
      <div flex-gt-sm="25" flex-sm="25" flex-xs="100">
        <img src="resources/img/sponsor/jcci.jpg" alt="JCCI" style="width: 80%">
      </div>
      <!-- <div flex-gt-sm="25" flex-sm="25" flex-xs="100">
        <img src="resources/img/about_us/sdsc.png" alt="SDSC" style="width: 80%">
      </div> -->
      <div flex-gt-sm="25" flex-sm="25" flex-xs="100">
        <img src="resources/img/sponsor/sport-cares.png" alt="Sport Singapore" style="width: 80%">
      </div>
      <div flex-gt-sm="25" flex-sm="25" flex-xs="100">
        <img src="resources/img/about_us/sncf.png" alt="SNCF" style="width: 80%">
      </div>
      <!-- <div flex-gt-sm="25" flex-sm="25" flex-xs="100">
        <img src="resources/img/about_us/metta.png" alt="Metta School" style="width: 80%">
      </div> -->
    </div>
  </section>
</section>
