<section id="section-calendar">
  <section class="content" id="events">
    <h2>UPCOMING EVENTS</h2>
    <hr>
    <p>Do email <a href="mailto:admin@runninghour.com">admin@runninghour.com</a> or call 90505398 Anna regarding the next run. The schedule is subject to changes. Training workshop is available to equip guides with knowledge and practical sessions for guiding persons with special needs.</p>
  </section>
  <section class="content" id="weekdayrun">
    <h2>RH WEEKDAY RUN @ SPORTS HUB</h2>
    <hr>
    <p>Training Leaders :</p>
    <div layout="row" layout-xs="column" layout-align="center center" layout-padding>
      <!-- <div flex>
        <p class="leader">Geraldine Susay</p>
        <img src="resources/img/calendar/sussay.jpg" alt="Image of Geraldine Susay" style="width: 100%">
      </div>
      <div flex>
        <p class="leader">Mike Hickman</p>
        <img src="resources/img/calendar/hickman.jpg" alt="Image of Mike Hickman" style="width: 100%">
      </div>
      <div flex>
        <p class="leader">Kwek Junhong</p>
        <img src="resources/img/calendar/junhong.jpg" alt="Image of Kwek Junhong" style="width: 100%">
      </div> -->
      <div flex>
        <p class="leader">Arthur Tong</p>
        <img src="resources/img/calendar/ArthurTong-Training.png" alt="Image of Geraldine Susay" style="width: 100%; max-width: 780px; max-height: 1200px">
      </div>
      <div flex>
        <p class="leader">Giles Jacobson</p>
        <img src="resources/img/calendar/GilesJacobson-Training.png" alt="Image of Mike Hickman" style="width: 100%; max-width: 780px; max-height: 1200px">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-scroller">
        <tr>
          <th>Date</th>
          <th>Weekday Running Venue</th>
          <th>Duration/Meeting Point</th>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>
            Alternate Week
            <ol>
              <li>Circuit training at 100 PLUS Promenade<br>(HIIT - High Intensity Interval Training)</li>
              <li>Outdoor Run/Walk (Stadium to Barrage & U Turn</li>
            </ol>
          </td>
          <td>7pm to 8.30pm | Stadium MRT Exit A 6.45pm</td>
        </tr>
      </table>
    </div>
    <div class="subcontent">
      <p>Note:</p>
      <ol>
        <li><p>No google sign up is needed for weekday runs.</p></li>
        <li><p>Please wear a light/blinker if you have one on outdoor run.</p></li>
      </ol>
    </div>
  </section>
  <section class="content" id="calendar">
    <h2>2020/2021 TRAINING CALENDAR</h2>
    <hr>
    <div class="table-responsive">
      <table class="table table-scroller">
        <tr>
          <td>
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=runninghour.com_aodo1egr3iir5jvf30r52v7a3o%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=Asia%2FSingapore" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </td>
        </tr>
      </table>
    </div>
  </section>
</section>