<section id="section-faq">
  <section class="content" id="membership">
    <h2>FAQ (CO-OP MEMBERSHIP)</h2>
    <hr>
    <div class="subcontent">
      <ol class="text-bold">
        <li>What's a cooperative?<br>
        <span class="text-normal">Co-operatives are owned and democratically controlled by their own members, who decide on the social mission and business model. (Ref: <a href="http://www.sncf.coop/" target="_blank">http://www.sncf.coop/</a>)</span></li>
        <li>Are the committe paid?<br>
        <span class="text-normal">No, it’s a volunteer committee. The club will engage part-time staff to assist in its operation.</span></li>
        <li>How is the club funded?<br>
        <span class="text-normal">The Singapore National Co-operative Federation may provide seed funding for Runninghour to grow its business capability on a co-funding and reimbursement basis.</span></li>
        <li>How do I become a RH member?<br>
        <span class="text-normal">Members will be shareholders of the co-operative.</span></li>
        <li>How much is the RH share?<br>
        <span class="text-normal">Members need to purchase at least 1 share at SGD$10.00 per share.</span></li>
        <li>Do shareholders receive dividends?<br>
        <span class="text-normal">This is a co-operative that will not issue dividends.</span></li>
        <li>Is the RH share capital refundable?<br>
        <span class="text-normal">Yes, share capital is refundable upon resignation.</span></li>
      </ol>
    </div>
  </section>
  <section class="content" id="guide">
    <h2>RUNNING GUIDE</h2>
    <hr>
    <div class="subcontent">
      <ol class="text-bold">
        <li>What is the commitment level?<br>
        <span class="text-normal">Once a week on a Saturday morning for about 2-3 hours.  Once a week for weekday for about 2 hours.</span></li>
        <li>What if I can’t commit on Saturday?<br>
        <span class="text-normal">We understand that you may have your own commitment, hence the commitment need not be every week, but do inform the available weeks that you can commit.</span></li>
        <li>Will I affect the special members?<br>
        <span class="text-normal">No, you will not affect members but regular commitment will help build bonds between members and guides</span></li>
        <li>How long do I need to commit?<br>
        <span class="text-normal">For as long as you are available.</span></li>
        <li>What is the duration of commitment?<br>
        <span class="text-normal">2-3 hours per session.</span></li>
        <li>How can you make a difference?<br>
        <span class="text-normal">By running and let your presence felt and by encouraging our members will make a difference in their running regime.</span></li>
        <li>How can you make a difference as a running guide?<br>
        <span class="text-normal">By volunteering your valuable time with us.</span></li>
        <li>What are my roles and responsibilities?<br>
        <span class="text-normal">To run as a buddy to both the Intellectually and Visually challenged runners, to look after their safety during outdoor runs and lastly to encourage them in their runs or races. </span></li>
        <li>What are the dos and don’ts for guiding the visually challenged runners?<br>
        Dos<br>
        <span class="text-normal">Encourage</span><br>
        <span class="text-normal">Take time to build bond / friendship with them</span><br>
        <span class="text-normal">Share your running experience if you do have</span><br>
        <span class="text-normal">Look after their safety during runs</span><br>
        <span class="text-normal">Run together / along with their pace</span><br>
        <span class="text-normal">Allow them to decide on the timing if they are running for races but as a sighted guide,</span><br>
        <span class="text-normal">you can help share and guide them along if you find their expectations not realistic</span><br>
        Don'ts<br>
        <span class="text-normal">Scold or use remarks that are not helpful</span><br>
        <span class="text-normal">Use long sentences</span><br>
        <span class="text-normal">Use big and bombastic words</span><br></li>
        <li>What are the skills needed to be a good running guide?<br>
        <span class="text-normal">Take time to understand the person you are paired with as everyone is different. Allow yourself to be open and ready to learn from each other. Be alert and observant in the surrounding especially you are guiding VCR so that you can be alert to warn them of any danger. Uses of the sense in term of touch e.g.  Allow the VCR to run holding your shoulder or elbow helps in eliminating the fear and feels safe.</span></li>
        <li>What should I take note of during races?<br>
        <span class="text-normal">Safety is our utmost important. Look out for the runner’s health before run and if they are not feeling well, do modify the pace according to the fitness / health of the runners.</span></li>
        <li>How do I determine how long the towel / laces be?<br>
        <span class="text-normal">It depends. In a race and crowded outdoor running places, we try to keep it short. In a spacious area, it is fine to keep it a bit longer.</span></li>
        <li>When do I start telling them on some obstacles ahead?<br>
        <span class="text-normal">It depends on the visually runners you are guiding, some is fine with you alerting them at a distance but some prefer to be inform when nearer the obstacle. However in a race, it will be good to inform slightly earlier as the running pace can be fast.</span></li>
        <li>Can I terminate the volunteering service?<br>
        <span class="text-normal">Yes, you can at any time. All you have to do is to inform us.<br>If you bought shares as our Co-op member, all we do is to refund you the shares amount when you leave the co-op.</span></li>
      </ol>
    </div>
  </section>
</section>