<section id="section-footer" layout="column" layout-align="center center">
	<div flex layout="row" layout-align="center center" layout-padding>
  	<div flex><a href="https://www.facebook.com/Runninghour/" target="_blank"><img src="resources/img/icons/facebook.png" alt="Facebook"></a></div>
  	<div flex><a href="https://www.instagram.com/runninghour/" target="_blank"><img src="resources/img/icons/instagram.png" alt="Instagram"></a></div>
  	<div flex><a href="https://twitter.com/RunSoOthersCan" target="_blank"><img src="resources/img/icons/twitter.png" alt="Twitter"></a></div>
  	<div flex><a href="https://www.youtube.com/watch?v=h161lZQJ810" target="_blank"><img src="resources/img/icons/youtube.png" alt="Youtube"></a></div>
  </div>
  <div flex> &copy; 2020 Runninghour. All Rights Reserved</div>
  <div flex>Concocted by <a href="http://www.xcidic.com" target="_blank" class="xcidic">Xcidic</a></div>
</section>