#section-aboutus {
  background-color: #f8f8f8;
  color: #3a3a3a;
  padding: 100px 10%;
  text-align: left;
}

#section-aboutus .content {
  margin-bottom: 100px;
}

#section-aboutus .subcontent {
  margin: 40px 0;
}

#section-aboutus .content h2 {
  color: #5B337C;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  padding-top: 20px;
}

#section-aboutus .content h3 {
  color: #5b327b;
  font-size: 21px;
  font-family:'Gotham Medium';
}

#section-aboutus p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

#section-aboutus img {
  width: 100%;
  margin: 20px 0px;
}

#section-aboutus .caption {
  color: #fff;
  text-align: center;
}

#section-aboutus .caption .caption-box{
  background-color: #3a3a3aaa;
  padding: 2px;
}

#section-aboutus th,
#section-aboutus td {
  border-bottom: none;
  padding: 0px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

#section-aboutus ol {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #000;
}

#section-aboutus p.mores {
  font-size: 12px;
  font-style: italic;
}

#section-aboutus .carousel {
  width: 60%;
}

#section-aboutus .carousel .item,
#section-aboutus .carousel-inner {
  background: none;
}

#section-aboutus .carousel-inner img {
  width: 300px;
}

@media (max-width: 600px) {
  #section-aboutus .carousel {
    width: 100%;
  }
}

#section-aboutus #contact table td {
  padding: 10px;
  font-size: 13px;
  background-color: #f7f7f7;
}